<h2>Administrator Page</h2>



<p>Choose an option below to do an operation.</p>

<div id="subject" class="subject">
    <form>
        <label for="usersdropdown">Users:</label>
        <select name="usersdropdown" id="usersdropdown">
        <option value="ALL USERS">All Users</option>

        </select>
        <br><br>

        <button type="button"  (click)="deactivateUser()">Deactivate User</button> <!--DONT CHANGE THIS YOU WILL HAVE PROBLEMS-->
        <br>
        <br>
        <button type="button"  (click)="reactivateUser()">Reactivate User</button> <!--DONT CHANGE THIS YOU WILL HAVE PROBLEMS-->
        <br>
        

      </form>
</div>       
