<h2 id="about">By Darryl Lee</h2>
<nav>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/browse" routerLinkActive="active">Browse</a>
    <a routerLink="/createaccount" routerLinkActive="active">Create Account</a>      
</nav>

<p id="about">This is the home page of Draft My Schedule. You can browse schedules as an unauthenticated user. As an authenticated user, you can add courses and create schedules. To create an account, press the "Create Account" button on the top right.
    You can also search for courses. 
</p>
<app-login-page>




