<nav>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/createschedule" routerLinkActive="active">Create Schedule</a>
    <a routerLink="/manageschedule" routerLinkActive="active">Manage Schedule</a>
    <a routerLink="/settings" routerLinkActive="active">Account Settings</a>
</nav> 
<br>
<label for="password">Password:  </label>
<input name="password" id="password" type="password" placeholder="Enter a new password">
<br>
<br>
<button (click) ="changePassword()" name="changepassword" id="changepassword"type="button" >Save new password</button>
<br>
