
   <nav>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/createschedule" routerLinkActive="active">Create Schedule</a>
    <a routerLink="/manageschedule" routerLinkActive="active">Manage Schedule</a>
    <a routerLink="/settings" routerLinkActive="active">Account Settings</a>
    <a (click)="logout()"routerLink="/home" routerLinkActive="active">Logout</a>

    
</nav> 
  <br>
  <br>
        <div id="subject" class="subject">
            <form>

                <label for="newschedule">Input a new schedule:</label>
                <input name="newschedule" id="newschedule" type="text" placeholder="Type a schedule name">
                <input name="description" id="description" type="text" placeholder="Type a description here">
                <button type="button" (click)="createSchedule()" >Create Schedule</button> <!--DONT CHANGE THIS YOU WILL HAVE PROBLEMS-->
                <br><br>
                <label for="Subject">Subject:</label>
                <select name="Subject" id="Subject">
                <option value="ALL SUBJECTS">All Subjects</option>

                </select>
                <br><br>
              
                <label for="CourseNumber">Course Number:</label>
                <input name="CourseNumber" id="numberInput" type="text" maxlength="5">
                <br><br>
              
                <label for="Component">Component:</label>
                <select name="Component" id="Component"> 
                <option value = "AllComponent"> All Components</option>
                <option value = "LEC">Lecture</option>
                <option value = "LAB">Lab</option>
                <option value = "TUT">Tutorial</option>
                </select>
                
                <br><br>

                <label for="schedulesdropdown">Your Schedules: </label>
                <select name="schedulesdropdown" id="schedulesdropdown">
                </select>

                <br><br>
                <button type="button" (click)="submitResults()" >Submit</button> <!--DONT CHANGE THIS YOU WILL HAVE PROBLEMS-->
                
              </form>
        </div>       
        
        <div id=searchResults>
          <!-- create a div for each course, let course of courses is arbitrary-->
        </div>

        <div *ngFor= "let course of courses">           <!-- Makes for loop and for each course, it will create a div-->
          <h2>{{ course.className }}</h2>
          <p>{{ course.catalog_description }}</p> <button class="addButton" (click)="addCourseToSchedule(course.subject, course.catalog_nbr)">+</button>

         
          <table>
            <tr>
                <th>Section</th>
                <th>Component</th>
                <th>Class Number</th>
                <th>Pre-requisites</th>
                <th>Days</th>
                <th>Time</th>
                <th>Enrollment Status</th>


              </tr>
              <tr>
                <td>{{ course.course_info[0].class_section }}</td>
                <td class="{{ course.course_info[0].ssr_component }}">{{ course.course_info[0].ssr_component }}</td>
                <td>{{ course.course_info[0].class_nbr }}</td>
                <td>{{ course.course_info[0].descr }}</td>

                <td>{{ course.course_info[0].days }}</td>
                <td>{{ course.course_info[0].start_time }} to {{course.course_info[0].end_time}}</td>
                <td>{{course.course_info[0].enrl_stat}}</td>
              </tr>

              <label for="createreview">Create a review here:</label>
                <input name="createreview" id="createreview" type="text" placeholder="Type something here">
                <button type="button" (click)="createreview(course.subject, course.catalog_nbr, course.className)" >Post review</button> <!--DONT CHANGE THIS YOU WILL HAVE PROBLEMS-->
          </table>
       </div>
        
   


